@model WebAppAdvocacia.Models.Audiencia

@{
    Layout = "~/Views/Shared/_LayoutParaImpressao.cshtml";
}

<h2>Audiência</h2>

<div>
    @*<h4>Audiencia</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Processo.ProcessoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processo.ProcessoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Processo.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processo.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parecer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parecer)
        </dd>

    </dl>
</div>



@*<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PessoaID }) |
    @Html.ActionLink("Voltar Para Lista", "Index")
</p>*@
