@model WebAppAdvocacia.Models.Custa

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você Tem Certeza Que Deseja Deletar Isto?</h3>
<div>
    <h4>Custa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Processo.ProcessoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processo.ProcessoID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Processo.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Processo.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar Para Lista", "Index")
        </div>
    }
</div>
