@model WebAppAdvocacia.Models.Processo

@{
    ViewBag.Title = "Deletar";
}

<h2>Deletar</h2>

<h3>Você Tem Certeza Que Deseja Deletar Isto?</h3>
<div>
    <h4>Processo</h4>
    <hr />
    <dl class="dl-horizontal"> 
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vara.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vara.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroProcesso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroProcesso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataAbertura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataAbertura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar Para Lista", "Index")
        </div>
    }
</div>
