@model WebAppAdvocacia.Models.PessoaJuridica

@{
    Layout = "~/Views/Shared/_LayoutParaImpressao.cshtml";
}

<h2>Pessoa Juridica</h2>

<div>
    @*  *@
@*<h4>PessoaFisica</h4>*@
<hr />
<dl class="dl-horizontal">

    <dt>
        @Html.DisplayNameFor(model => model.Foto)
    </dt>

    <dd>

        @{

            var nomeFoto = Model.PessoaID + ".jpg";
        }
        <img src="~/Content/Images/@nomeFoto" class="img-rounded" alt="Foto da Pessoa" width="120" height="100">
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nome)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nome)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Endereco)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Endereco)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Telefone)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Telefone)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CEP)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CEP)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Bairro)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Bairro)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Cidade)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cidade)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.UF)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UF)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Email)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Email)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.CNPJ)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.CNPJ)
    </dd>

</dl>
</div>



@*<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.PessoaID }) |
    @Html.ActionLink("Voltar Para Lista", "Index")
</p>*@
